* {
  box-sizing: border-box;
}

.input-style {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  border: none;
  transition: box-shadow 500ms;
}

.input-style:hover {
  box-shadow: 0 0 3px 0 #FCFCFC;
}

.button-style {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #FCFCFC;
  border: none;
  color: #3F4045;
}

.clickable {
  background: #3F4045;
  color: #FCFCFC;
  transition: transform 120ms, box-shadow 150ms;
}

.clickable:hover {
  transform: scale(1.04);
  box-shadow: 0 0 3px 0 #FCFCFC;
  cursor: pointer;
}

body {
  background: #02111B;
  margin: 0;
  min-width: 345px;
}
body #bg {
  background-image: url(https://i.ibb.co/09vBq9d/hexagon-honeycomb-tessellation-coloring-pages-1-1.png);
  background-size: contain;
  filter: invert(1);
  opacity: 0.1;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}
body #app {
  margin: auto;
  padding: 16px;
  max-width: 1100px;
  font-family: trebuchet ms, arial;
  text-align: center;
  color: #FCFCFC;
}
body header {
  display: flex;
}
body header #title {
  margin: auto 14px auto 16px;
  flex: 1;
}
body header #title h2 {
  font-size: 14px;
}
body header #right-header {
  position: relative;
  flex: 1.618;
}
body header #right-header a {
  display: inline-block;
  margin-top: 20px;
  margin-right: 16px;
  float: right;
  width: max-content;
}
body header #right-header a #james-hooper-logo {
  background-image: url("https://i.ibb.co/BNRNW6t/logo-large-transparent-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 70px;
}
body header #right-header #help-button {
  background: none;
  position: absolute;
  right: 16px;
  bottom: 12px;
  border-radius: 50%;
}
body #main-container {
  background: #3F4045;
  display: flex;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.8);
}
body .popup-panel, body #summary-display, body #help-display {
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body .panel, body #summary-display #summary-graph-box, body #help-display #help-box {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #5D737E;
  position: relative;
  padding: 24px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.45);
}
body .close-button, body #summary-display #summary-graph-box #summary-close, body #help-display #help-box #help-close {
  position: absolute;
  top: 6px;
  right: 6px;
}
body .close-button i, body #summary-display #summary-graph-box #summary-close i, body #help-display #help-box #help-close i {
  border-radius: 50%;
}
body #summary-display #summary-graph-box #summary-graph {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #FCFCFC;
  min-width: 500px;
  width: 60vw;
  max-width: 700px;
}
body #summary-display #summary-graph-box #summary-graph circle {
  cursor: pointer;
}
body #summary-display #summary-graph-box #summary-graph pre {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #3F4045;
  display: none;
  padding: 8px 12px;
  width: min-content;
  height: min-content;
  font-size: 14px;
  color: #FCFCFC;
  z-index: 10;
}
body #summary-display #summary-graph-box ul {
  display: block;
  margin-left: -48px;
  list-style: none;
}
body #summary-display #summary-graph-box ul li {
  display: inline-block;
  margin: auto 16px;
}
body #help-display #help-box #help-text {
  max-width: 60vw;
  max-height: 80vh;
  overflow: scroll;
}
body #help-display #help-box #help-text p {
  font-size: 12px;
}
body #help-display #help-box #help-text #setup-example {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #FCFCFC;
  margin-top: 32px;
  padding: 12px;
  padding-top: 4px;
  color: #3F4045;
}
body #settings-box {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #5D737E;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 38.2%;
}
body #settings-box .option {
  flex: 1;
  margin-top: 12px;
  margin-bottom: 12px;
}
body #settings-box .option-box {
  display: grid;
  grid-gap: 6px;
  padding: 0 12px 12px 12px;
  margin: auto;
  width: 100%;
}
body #settings-box h3 {
  margin: 5px auto;
  color: #FCFCFC;
}
body #settings-box #batch-options {
  grid-template-areas: "heading heading heading" "batch iteration reset-rate";
}
body #settings-box #batch-options .heading {
  grid-area: heading;
  width: 100%;
}
body #settings-box #batch-options .batch {
  grid-area: batch;
  width: 100%;
}
body #settings-box #batch-options .iteration {
  grid-area: iteration;
  width: 100%;
}
body #settings-box #batch-options .reset-rate {
  grid-area: reset-rate;
  width: 100%;
}
body #settings-box #learning-rate-options {
  grid-template-areas: "heading heading heading" "new-rate new-step set-rate";
}
body #settings-box #learning-rate-options .heading {
  grid-area: heading;
  width: 100%;
}
body #settings-box #learning-rate-options .new-rate {
  grid-area: new-rate;
  width: 100%;
}
body #settings-box #learning-rate-options .new-step {
  grid-area: new-step;
  width: 100%;
}
body #settings-box #learning-rate-options .set-rate {
  grid-area: set-rate;
  width: 100%;
}
body #settings-box #loop-end-options {
  grid-template-areas: "heading heading" "new-rate toggle";
}
body #settings-box #loop-end-options .heading {
  grid-area: heading;
  width: 100%;
}
body #settings-box #loop-end-options .new-rate {
  grid-area: new-rate;
  width: 100%;
}
body #settings-box #loop-end-options .toggle {
  grid-area: toggle;
  width: 100%;
}
body #settings-box #speed-options {
  grid-template-areas: "heading heading" "new-rate toggle";
}
body #settings-box #speed-options .heading {
  grid-area: heading;
  width: 100%;
}
body #settings-box #speed-options .new-rate {
  grid-area: new-rate;
  width: 100%;
}
body #settings-box #speed-options .toggle {
  grid-area: toggle;
  width: 100%;
}
body #settings-box #graph-options {
  grid-template-areas: "graph-option-heading graph-option-heading" "x-is-y x-is-minus-y" "x-is-y-sq y-is-x-sq";
}
body #settings-box #graph-options #graph-option-heading {
  grid-area: graph-option-heading;
  width: 100%;
}
body #settings-box #graph-options #x-is-y {
  grid-area: x-is-y;
  width: 100%;
}
body #settings-box #graph-options #x-is-minus-y {
  grid-area: x-is-minus-y;
  width: 100%;
}
body #settings-box #graph-options #x-is-y-sq {
  grid-area: x-is-y-sq;
  width: 100%;
}
body #settings-box #graph-options #y-is-x-sq {
  grid-area: y-is-x-sq;
  width: 100%;
}
body #settings-box #results-box {
  grid-template-areas: "heading heading" "input icon";
}
body #settings-box #results-box .heading {
  grid-area: heading;
  width: 100%;
  align-self: center;
}
body #settings-box #results-box .input, body #settings-box #results-box .large-input {
  grid-area: input;
  width: 100%;
  align-self: center;
}
body #settings-box #results-box .icon {
  grid-area: icon;
  width: 100%;
  align-self: center;
}
body #settings-box .input, body #settings-box .large-input {
  padding-left: 6px;
  font-size: 16px;
  text-align: center;
  color: #3F4045;
}
body #settings-box .large-input {
  margin-top: 12px;
  margin-bottom: 12px;
  max-width: 100%;
}
body #settings-box .settings-span {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 2px 10px;
  min-width: 100%;
  font-size: 16px;
  text-align: center;
}
body #settings-box .icon {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #008000;
  font-size: 24px;
}
body #settings-box .icon:hover {
  transform: scale(1.13);
}
body #settings-box .toggleOn {
  background: #008000;
}
body #settings-box #mobile-menu-icon {
  display: none;
}
body #settings-box #run-function {
  display: block;
  margin-top: 36px;
  margin-bottom: 12px;
  height: 48px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: #FCFCFC;
}
body #settings-box #hint {
  font-size: 12px;
}
body #graph-box {
  flex: 1.618;
  margin-left: 16px;
}
body #graph-box #main-graph {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
  background: #FCFCFC;
  float: right;
  height: 600px;
  width: 600px;
}
body #graph-box .bisector {
  opacity: 0.3;
}

@media only screen and (max-width: 720px) {
  body header #title {
    flex: 3;
  }
  body header #right-header {
    flex: 1;
  }
  body #main-container {
    flex-direction: column-reverse;
  }
  body #main-container #settings-box {
    margin-top: 16px;
    width: 100%;
  }
  body #main-container #settings-box .mobile-hidden-option, body #main-container #settings-box #hint, body #main-container #settings-box #results-heading {
    display: none;
  }
  body #main-container #settings-box #results-box {
    order: 0;
  }
  body #main-container #settings-box #run-function-box {
    order: 1;
    display: flex;
    flex-direction: row-reverse;
  }
  body #main-container #settings-box #run-function-box #mobile-menu-icon {
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
    background: #3F4045;
    display: inline-block;
    padding: 10px;
    width: 50px;
    font-size: 24px;
  }
  body #main-container #settings-box #run-function-box #run-function {
    margin: 0 0 0 16px;
  }
  body #main-container #settings-box #batch-options {
    order: 2;
    margin-top: 24px;
  }
  body #main-container #settings-box #learning-rate-options {
    order: 3;
  }
  body #main-container #settings-box #loop-end-options {
    order: 4;
  }
  body #main-container #settings-box #speed-options {
    order: 5;
  }
  body #main-container #settings-box #graph-options {
    order: 6;
  }
  body #main-container #graph-box {
    margin-left: 0;
  }
}
@media only screen and (max-width: 550px) {
  body header #title {
    text-align: left;
  }
  body header #title h2 {
    display: none;
  }
  body header #right-header a #james-hooper-logo {
    width: 110px;
    height: 55px;
  }
  body #summary-graph-box {
    transform: rotate(90deg);
  }
}
